*{margin: 0; padding: 0;}
.fixed{
    position: fixed;
    right: 40px;
    bottom: 30px;
    z-index: 99;
}
/*tablet*/
@media (min-width: 700px) and (max-width: 1319px){
    .fixed{
        position: fixed;
        right: 20px;
        bottom: 20px;
    }
    .fixed img{
        width: 90%;
    }
}
/*mobile*/
@media (max-width: 699px){
    .fixed{
        position: fixed;
        right: 10px;
        bottom: 10px;
        }
    .fixed img{
        width: 80%;
    }
}